{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "tailwindStylesheet": "./src/styles/global.css"
  "plugins": [
    "prettier-plugin-astro",
    "prettier-plugin-tailwindcss"
  ],
  "overrides": [
    {
      "files": "*.astro",
      "options": { "parser": "astro" }
    }
  ]
}
