HOST=0.0.0.0
PORT=1337
APP_KEYS=placeholder_keys
API_TOKEN_SALT=placeholder_salt
ADMIN_JWT_SECRET=placeholder_admin_secret
TRANSFER_TOKEN_SALT=placeholder_transfer_salt
DATABASE_CLIENT=postgres
DATABASE_HOST=espacio-dialogo-postgres
DATABASE_PORT=5432
DATABASE_NAME=espacio-dialogo_backend
DATABASE_USERNAME=strapi_admin
DATABASE_PASSWORD=strapi_secure_password
DATABASE_SSL=false

# Seed bootstrap data on server start (set to "true" manually)
SEED_ON_BOOT=false
